@ebx-auth:registry=https://echobox-060610571733.d.codeartifact.eu-west-1.amazonaws.com/npm/ebx-auth/
//echobox-060610571733.d.codeartifact.eu-west-1.amazonaws.com/npm/ebx-auth/:always-auth=true
//echobox-060610571733.d.codeartifact.eu-west-1.amazonaws.com/npm/ebx-auth/:_authToken=${CODEARTIFACT_AUTH_TOKEN}

@ebx-ui:registry=https://echobox-060610571733.d.codeartifact.eu-west-1.amazonaws.com/npm/ebx-ui/
//echobox-060610571733.d.codeartifact.eu-west-1.amazonaws.com/npm/ebx-ui/:always-auth=true
//echobox-060610571733.d.codeartifact.eu-west-1.amazonaws.com/npm/ebx-ui/:_authToken=${CODEARTIFACT_AUTH_TOKEN}

registry=https://registry.npmjs.org/
